<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>VisitorUserCenter</id>
<name>访客用户中心</name>
<url>dev.cxg2014.bit</url>
<note>实现访问控制</note>
<description></description>
<path>ControlPanel/main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>cxgreat2014</name>
  <email>cxgreat2014@163.com</email>
  <url>cxg2014.bit</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.0</version>
<pubdate>2016-06-12</pubdate>
<modified>2016-10-02</modified>
<price>1000</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>